* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-gradient-color: linear-gradient(180deg, #FFEEE8 -36.19%, #FBEBF8 41.31%, #F7F6FF 100%);
    --bs-btn-font-weight: 600;
    --bs-btn-color: #030122;
    --bs-btn-bg: #FFFF;
    --bs-btn-border-color: rgba(255, 77, 0, 0.45);
    --bs-btn-hover-color: #FF5D25;
}

.top-header-bg {
    background: var(--bg-gradient-color);
}

.ohoh-header {
    border-radius: 70px;
    border: 1px solid rgba(255, 93, 37, 0.10);
    background: #FFF;

}

.ohoh-logo {
    width: 81px;
    height: 30px;
}

.request_btn {
    border-radius: 32px;
    border: 1px solid rgba(255, 77, 0, 0.45);
    border-bottom: none;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: black;
}

.request_btn:hover {
    background-color: #FF5D25;
    color: #FFF;
}

.contact_btn {
    border-radius: 36px;
    border: 1px solid #FFECE6;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: black;
}
.contact_btn:hover {
    background-color: #FF5D25;
    color: #FFF;
}
.web-heading-font {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.web-subheading-font {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.web-paragraph-font {
    color: #030122;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 22.4px */
}

.nav-link {
    color: #030122;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.primary-color {
    color: #FF5D25;

}

.border-style {
    background-color: #FF5D25;
    height: 3px;
    width: 10%;
    position: center;
}
.carousel-icon{
    background-color: #FF5D25;
}
/*  */
.card-style {
    border-radius: 8px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}

.card-title {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.card-description {
    color: #8E8E8E;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
.card-color{
    background:#FFFBF7;
}
.card-font {
    color: #26114A;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 16.8px */
}
.blog-card{
background: #F6F6F6;
}
.slider{
    border-radius: 15px;
border: 1px solid #FFE3D4;

}
.footer{
    background-color: #0C0636;
    color: #FFF;
}
.footer_link{
    color: #D9D8D8;
    text-decoration: none;
}
.footer_icon{
    width: 30px;
    height: 30px;
    background-color: #CBCBCB;
    border-radius: 20px;
}
.footer_icon:hover{
    background-color: #FF5D25;
    color: #fff;
}
.fa-facebook:hover{
    color: #fff;
}
.fa-facebook{
    color: black;
}
.fa-twitter:hover{
    color: #fff;
}
.fa-twitter{
    color: black;
}
.fa-instagram:hover{
    color: #fff;
}
.fa-instagram{
    color: black;
}
.fa-linkedin:hover{
    color: #fff;
}
.fa-linkedin{
    color: black;
}
.fa-youtube-play:hover{
    color: #fff;
}
.fa-youtube-play{
    color: black;
}
.read_more{
    border-radius: 32px;
    border: 1px solid rgba(255, 77, 0, 0.45);
    background: #F7F6FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    font-size: 12px;
}
.read_more:hover {
    background-color: #FF5D25;
    color: #fff;
}